@media screen and (max-width: 600px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        max-width:100%;
    }
    html {
        font-size: 150%;
        /* 100% = 16px */
    }
    div.preview h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    div.preview h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 2em;
    }
    div.remember {
        margin-right: 0%;
        margin-left: 0%;
    }
    div.important {
        margin-left: 0%;
        margin-right: 0%;
    }
    div.highlight {
        padding: 20px;
        margin-right: 0%;
        margin-left: 0%;
    }
    div .dropdown {
        display: block;
    }
    ul.menu {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width:1400px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
        max-width:100%;
    }
    html {
        font-size: 100%;
        /* 100% = 16px */
    }
    div.preview h1 {
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.preview h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1 {
        margin-top: 110px;
        margin-bottom: 110px;
    }
    h2 {
        font-size: 2.35em;
    }
    div.remember {
        margin-right: 10%;
        margin-left: 10%;
    }
    div.important {
        margin-left: 10%;
        margin-right: 10%;
    }
    div.highlight {
        padding: 20px;
        margin-right: 15%;
        margin-left: 15%;
    }
    ul.menu {
        margin: 0;
    }
    div.dropdown {
        display: none;
    }
    ul.menu {
        display: block;
    }
}

@media screen and (min-width: 1401px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
    html {
        font-size: 100%;
        /* 100% = 16px */
    }
    div.preview h1 {
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.preview h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1 {
        margin-top: 110px;
        margin-bottom: 110px;
    }
    h2 {
        font-size: 2.35em;
    }
    div.remember {
        margin-right: 10%;
        margin-left: 10%;
    }
    div.important {
        margin-left: 10%;
        margin-right: 10%;
    }
    div.highlight {
        padding: 20px;
        margin-right: 15%;
        margin-left: 15%;
    }
    ul.menu {
        margin: 0;
    }
    div.dropdown {
        display: none;
    }
    ul.menu {
        display: block;
    }
}

@font-face {
    font-family: iosevka;
    src: url(./edujafesa/woff2/iosevka-regular.woff2);
}

@font-face {
    font-family: roboto;
    src: url(./edujafesa/fonts/roboto.ttf);
}

@font-face {
    font-family: abel;
    src: url(./edujafesa/fonts/Abel-Regular.ttf);
}

@font-face {
    font-family: opensanscondensed;
    src: url(./edujafesa/fonts/OpenSansCondensed-Light.ttf);
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

small {
    font-size: 0.5em;
    opacity: 50%;
    color: black;
}

small:hover {
    opacity: 100%;
    /* animation-name: FadeIn; */
    /* animation-duration: 5s;
    font-size:1em; */
    color: black;
}

/* 
@keyframes FadeIn {
  0% {
    opacity: 50%;
    font-size:0.5em;
  }

  40% {
    font-size:1em;
    opacity: 100%;
  }

  100% {
    font-size:1em;
    opacity: 100%;
  }
} */

mark {
    font-size: 1em;
}

a {
    font-size: 1em;
}

a sup{
    background-color: #e9e9e9;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}

blockquote {
    font-size: 1em;
}

code {
    font-size: 1em;
}

h1 {
    font-family: "Roboto";
    text-align: center;
    font-style: normal;
    font-weight: 100;
    border-top-style: double;
    border-bottom-style: double;
    width: auto;
}

h2 {
    font-family: "Abel";
    overflow: hidden;
    text-align: center;
}

h2:before, h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h2:after {
    left: 0.5em;
    margin-right: -50%;
}

h3 {
    font-family: "Abel";
    text-align: left;
    padding-left: 20px;
    text-decoration: underline;
}

h4 {
    font-family: "Open Sans Condensed";
    text-align: left;
    padding-left: 35px;
}

h5::before {
    content: "¬";
}

h5 {
    font-family: "Abel";
    text-align: left;
    padding-left: 45px;
}

h4::before {
    content: "⎡ ";
}

h4::after {
    content: " ⎦";
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

li p {
    padding-left: 0px;
    padding-right: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    margin-left: 50px;
    margin-right: 20px;
}

ol {
    margin-left: 50px;
    margin-right: 20px;
}

/* p code {
    background-color: #FFFF99;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "JetBrains Mono", monospace;
} */

code {
    background-color: #FFFF99;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "JetBrains Mono", monospace;
}

.sourceCode code {
    background-color: #ececec;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}


div.toc {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 50%;
}

div.toc a {
    width: 100%;
    font-family: "Abel";
    font-size: 1.2em;
}

div.toc a.indexh1 {
    margin-left: 14px;
    text-decoration: underline;
}

div.toc a.indexh2 {
    margin-left: 28px;
    text-decoration: underline;
}

div.toc a.indexh3 {
    margin-left: 42px;
}

div.toc a.indexh4 {
    margin-left: 56px;
}

div.toc a.indexh5 {
    margin-left: 70px;
}

div.toc a.indexh6 {
    margin-left: 84px;
}

div.toc a::before {
    content: "-";
}

/* pre.highlight {
    overflow: auto;
}

pre.highlight code{
    background-color: #ffffff00;
    color:white;
} */

div.sourceCode {
    margin-left: 50px;
    margin-right: 50px;
    break-inside: avoid;
    page-break-inside: avoid;
}

pre.sourceCode {
    background-color: #ececec;
    padding: 20px;
    break-inside: avoid;
    page-break-inside: avoid;
}

code a {
    font-family: "JetBrains Mono";
}

blockquote {
    padding: 15px;
    background-color: #e9e9e9;
    /*F0C9C2*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}

blockquote p {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none none none solid;
    border-color: #616161;
}

blockquote blockquote {
    padding: 5px;
    margin: auto auto;
}

blockquote blockquote p::before {
    content: "—";
}

blockquote p::first-letter {
    font-size: 1.5em;
    font-family: serif;
    text-transform: capitalize;
}

blockquote p em {
    text-decoration: underline;
}

blockquote blockquote p {
    margin: auto auto;
    padding: auto auto;
    text-align: right;
    border-style: none none none none;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* border: 1px black solid;
    padding: 30px; */
}

figcaption {
    font-family: "JetBrains Mono";
    font-size: 1em;
    text-decoration: overline;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figure:active {
    animation-name: BiggerInside;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes BiggerInside {
    0% {
        width: 50%;
    }
    40% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

img.icon {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
}

li p {
    text-indent: 0;
}

div.remember {
    background-color: #FFFF99;
    color: #505026;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div.important {
    background-color: #F0C9C2;
    color: #613d36;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* pre.highlight{
    padding: 10px;
} */

div.important:before {
    content: ' ❗   Important';
    display: block;
    padding-left: 15px;
    background-repeat: no-repeat;
    font-size: 1.6em;
    font-family: "Abel";
    margin-bottom: 15px;
}

div.remember:before {
    content: '✏️ Remember';
    display: block;
    padding-left: 15px;
    background-repeat: no-repeat;
    font-size: 1.6em;
    font-family: "Abel";
    margin-bottom: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */

a:link {
    color: blue;
    text-decoration: none;
}

/* visited link */

a:visited {
    color: darkblue;
    text-decoration: none;
}

/* mouse over link */

a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */

a:active {
    color: blue;
    text-decoration: underline;
}

a.footnote-sup:visited{
    color: black;
}

div.footnote-tagname {
    font-size: 0.7em;
    padding-right: 5px;
    font-family: sans-serif;

}

div.footnote-sub {
    font-size: 0.7em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}
div.footnote-sub p {
    text-indent: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.footnote-container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

hr {
    border-top: 2px solid rgb(209, 209, 209);
    border-bottom-width: 0;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: transparent;
}

ul.menu {
    list-style-type: none;
    margin-left: -20%;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border-bottom: 1px solid darkgray;
}

li.menu {
    float: left;
}

span.menu {
    font-family: "Abel";
    text-align: center;
    font-size: 1.6em;
}

li.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li.menu a:hover {
    background-color: lightgray;
}

li.menu:last-child {
    border-right: none;
}

div.crights {
    font-size: 0.7em;
    text-align: center;
    font-family: serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
    border: 1px gray solid;
}

th, td {
    border-style: none dashed none dashed;
    border-color: gray;
    border-width: 1px;
    padding: 5px;
}

th {
    text-decoration: underline;
    background-color: lightblue;
    color: black;
    font-size: 1.1em;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dropdown {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    border-bottom: 1px solid darkgray;
}

ul .dropdown-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f3f3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content span {
    width: 100%;
}

div.dropdown-content a:link {
    color: black;
}

div.dropdown-content a:visited {
    color: black;
}

div.dropdown-content a:hover {
    color: black;
}

div.dropdown-content a:active {
    color: black;
}

div.preview-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto;
}

div.preview {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 10px 10px;
}

div.preview h1 {
    border-left: lightgray solid;
    text-align: left;
    font-size: 1.7em;
    border-top-style: none;
    border-bottom-style: none;
}

div.preview h2 {
    font-size: 1.3em;
    text-decoration: none;
}

div.preview h3 {
    font-size: 1.2em;
}

div.preview h4 {
    font-size: 1.1em;
}

div.preview h5 {
    font-size: 1em;
}

div.preview hr {
    margin-left: 10%;
    margin-right: 10%;
}

div.tag {
    background-color: lightblue;
    color: #456368;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
    height: 1.3em;
}